.features-tokyo-renovation-page {}

.features-tokyo-renovation-page .oven-maker-about p {
    color: #141414;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    padding: 0 180px;
    text-align: center;
}


.section-overn-maker-images{
    margin-top: 150px;
}
.features-tokyo-renovation-page .section-overn-maker {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.features-tokyo-renovation-page .section-overn-maker img.left {
    position: absolute;
    left: 30px;
    bottom: -30px;
    /* bottom: 0px; */
    z-index: 1;
}

.features-tokyo-renovation-page .section-overn-maker img.right {
    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: 3;
}

.features-tokyo-renovation-page .servicedetail li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.features-tokyo-renovation-page .servicedetail .question-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--carrot-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.features-tokyo-renovation-page .servicedetail li .text {
    font-size: 1.9rem;
    width: 70%;
}

.features-tokyo-renovation-page .servicedetail li i {
    font-size: 2rem;
    color: var(--white);
}

.features-tokyo-renovation-page .customer-voice-section {
    min-height: 700px;
    background-color: var(--ivory);
    padding: 50px 0 90px 0;
}

.features-tokyo-renovation-page .customer-voice-section .pick-up-content {
    padding: 0px 20px;
    border: 15px solid var(--bisque);
    background-color: var(--white);
    min-height: 294px;
}

.features-tokyo-renovation-page .customer-voice-section .pick-up-content h3 {
    font-size: 20px;
    color: var(--persimmon);
    padding: 30px 0 20px 0;
}

.features-tokyo-renovation-page .customer-voice-section h2 {
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
}

.features-tokyo-renovation-page .pick-up-content p {
    font-size: 14px;
    line-height: 2;
}

.features-tokyo-renovation-page .customer-voice-section h2 {
    color: var(--nero-dark);
}

@media (max-width:800px) {
    .features-tokyo-renovation-page .oven-maker-about p {
        color: #141414;
        padding: 0 30px;
        text-align: center;
    }

    .features-tokyo-renovation-page .section-overn-maker img.left,
    .features-tokyo-renovation-page .section-overn-maker img.right {
        height: 220px;
    }


}

@media (max-width:500px) {
    html {
        font-size: 50%;
    }

    .features-tokyo-renovation-page .section-overn-maker {
        min-height: 560px;
        align-items: flex-start;
    }

    .features-tokyo-renovation-page .section-overn-maker img.left {
        left: 0px;
    }

    .features-tokyo-renovation-page .section-overn-maker img.left,
    .features-tokyo-renovation-page .section-overn-maker img.right {
        height: 180px;
    }

    .features-tokyo-renovation-page .servicedetail .question-box {
        width: 24px;
        height: 26px;
    }

    .features-tokyo-renovation-page .servicedetail li i {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .oven-maker-title {
        margin: 31px 0;
    }
   
}

.custom-container{
    max-width: 1600px;
}

.section-food-service {
    width: 100%;
    background-color: #FFE7C9;
    z-index: 2;
    position:relative;
}
.servicetitle{
    margin-top: 20px;
}

.section-food-service{
    padding-top: 96px;
    padding-bottom: 40px ;
}
.service-right-outer-div {
    background: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 50px;
    min-height: 449px;
    padding: 59px 40px 59px 80px;
    margin-right: 20px;
}
.service-left-outer-div {
    background: #FFFFFF;
    z-index: -1;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 59px 80px 59px 40px;
    margin-left: 20px;
}

.quality-right-img img{
    margin-left: -50px;
}
.quality-left-img img{
    margin-left: 50px;
}
.quality-left-img img,
.quality-right-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.servicenumber h2 {
    font-size: 70px;
    color: #F49122;
}

.intro-col-left {
    z-index: 9;

}

.intro-rigth-left {
    z-index: 0;
    width: 746px;
    max-width: 100%;
    margin-left: -65px;
}

.servicetitle p {
    font-size: 30px;
    color: #141414;
    line-height: 40px;
    font-weight: 600;
}

.servicedetail p {
    width: 100%;
    line-height: 2;
   margin-top: 20px;
    font-size: 1.4rem;
}
.servicedetail ul{
    margin-top: 60px;
}
.introduce-mbl-p{
    display: none;
}
.introduce-desktop-p{
display: block;
}
@media screen and (max-width: 1350px) and (min-width: 1049px) {
    
    .service-right-outer-div{
        padding: 59px 45px 59px 80px;
        margin-top: 40px;
        margin-bottom   : 40px;   
        margin-right: 20px; 
        
    }
    
    .quality-left-img img{
        margin-left: 20px;
    }
    .quality-right-img img {
        margin-left: -20px;
    }
    .service-left-outer-div{
        padding: 59px 45px 59px 80px;
        margin-top: 40px;
        margin-bottom   : 40px;   
        margin-left: 20px;
    }
    .servicetitle p{
        font-size: 18px;
    }
    .servicedetail p{
        font-size: 14px;
    }
    .servicenumber h2{
        font-size: 50px;
    }
}
@media screen and (max-width: 1050px) and (min-width: 769px) {
    .quality-left-img img, .quality-right-img img{
        object-fit: fill;
        height: 400px;
    }
    .servicetitle p{
        font-size: 24px;
    }
    .servicetitle p {
        font-size: 20px;
    }   
    .service-left-outer-div{
        padding: 30px 50px 30px 25px;
        margin-left: 20px;
        margin-top: 40px;
    
    }
    .service-right-outer-div {
        padding: 30px 30px 30px 50px;
        margin-right: 20px;
        margin-top: 40px;
    }
    .quality-right-img img {
        margin-left: -10px;
    }
    .quality-left-img img {
        margin-left: 20px;
    }
}
@media only screen and (max-width:768px) {
   
    .quality-left-img img, .quality-right-img img{
        object-fit: fill;
        height: 100%;
    }
   
    .servicenumber h2{
        font-size: 38px;
    }
    .servicetitle{
        margin: 0px;
    }
    .servicedetail p{
        margin-top: 11px    ;
        font-size: 14px;
    }
    .quality-right-img img{
        margin-left: 0px;
       
    }

    .intro-title h1 {
        font-size: 25px;
        padding: 34px 0px;
    }

    .section-introduce {
        width: 100%;
        height: 119px;
    }

   

    .oven-maker-title p {
        font-size: 20px;
    }

    .section-overn-maker {
        padding: 30px 15px 50px;
    }

    .section-food-service {
        padding: 29px 15px 40px 15px;
        background-image: inherit;
    }

    .service-rigth-content {
        margin-top: 0px;
    }

    .reverse-row {
        flex-direction: column-reverse;
    }
    .intro-right-left{
        margin-bottom: 47px;
    }
    .service-right-outer-div , .service-left-outer-div{
        padding: 25px 33px;
        width: 100%;
        height: auto;
        min-height: 100%;
        margin: 0px;
    }
   
    .quality-left-img img{
        margin: 0px;
        
    }
    

    .servicetitle p {
        font-size: 16px;
        line-height: 24px;
    }
    .servicedetail ul{
        margin-top: 30px;
    }
    .features-tokyo-renovation-page .servicedetail li .text{
        font-size: 11px;
        width: 100%;
    }

}
